.calc-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}
.btn {
  width: 40px;
  height: 40px;
  background: #333;
  color: #fff;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  border-radius: 50%;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: none;
}
