* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  display: flex;
  justify-content: center;
}
.calculator {
  border: 2px solid;
  width: 500px;
  background-color: #111;
  display: flex;
  flex-direction: column;
  margin: auto;
}
